<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-md-8">
      <h3><strong>What is Net Working Capital (NWC)?</strong></h3>
      <h1><strong>Core Components of Net Working Capital</strong></h1>
      <p class="col-md-7 pMargin">Companies gather funds from equity and debt markets to finance capital tied to their operations in form of cash and liquid assets, fixed assets and net working capital – if net working capital increases typically the company needs to borrow more money.</p>
    </div>
    <div class="arrowDiv col-md-5">
      <a href="/#/quiz">
      <img id="toQuizBtn" src="../images/normal_arrow.png"/>
      </a>
    </div>
    <div class="col-lg-3">
      <h2 class="text-center pull">Sources</h2>
      <div id="rec1" class="text-center center-block pullRecBox">
        <div>
          Equity<br>
          - from owners<br>
          - from net profit
        </div>
      </div>
      <div class="circleAdd center-block pullCircle">
        <div id="cross"></div>
      </div>
      <div id="rec2" class="text-center center-block pullRecBox">
        <div>
          Debt <br>
          - from debt investors and financial institutions
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <img id="rightArrow" src="../images/right_arrow.JPG"/>
    </div>
    <div class="col-md-2 colCloser">
      <h2 class="text-center push">
        <strong>Uses</strong>
      </h2>
      <div id="rec3" class="text-center">
        Cash and liquid assets
      </div>
      <div class="circleAdd center-block pushCircle">
        <div id="cross"></div>
      </div>
      <div id="rec4" class="text-center">
        Fixed assets
      </div>
      <div class="circleAdd center-block pushCircle">
        <div id="cross"></div>
      </div>
      <div id="rec5" class="text-center">
        Net working capital
      </div>
    </div>
  </div>
</div>
